@use "../../styles/theme";

.graph {
  width: 95%;
  aspect-ratio: 16 / 9;
}

.tooltipLabel {
  margin-bottom: 8px;
}

.tooltipEntries {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 8px;

  .delta {
    text-align: right;
  }
}