@use "../../styles/theme";
@use "../../styles/error";

.gameCrud {
  display: flex;
  flex-direction: column;
}

.gameForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gameInfo {
  display: flex;
  gap: 16px;
}

.teamForm {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.addButton {
  padding: 4px 16px;
}

.deleteButton {
  margin: 20px auto;
  padding: 4px 16px;
}