@use "../../styles/theme";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0px auto;
}

.loadingIcon {
  width: 30svw;
  fill: theme.$accent2;
}

.error {
  @keyframes bob {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;

  .icon {
    width: 20svw;
    animation: bob 1.5s ease-in-out infinite;
  }
}