.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0px auto;
}

.error {
  color: red;
}