@use "../../styles/theme";

.leaderboard {
  margin: 0px 20px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: theme.$accent1;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px gray;
}
